/*navigation bar styling*/
#navbar { 
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #A9E2F3; 
  border-bottom:1px solid;
  border-top: 1px solid;
}
#navbar li { 
  float: left;
}
#navbar li a{ 
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: #19070B;
  border-right:1px solid;
}
#navbar li a:hover {
  color: #FF0000;
  background-color: #F8E0E0;
}

/*site header styling*/
#header {
  font: serif;
  font-size: 20px;
  color: black;
  width: 100%;
  height: 250px ;
  background-color: #BDBDBD;
  text-align: center;
  padding: 5px;
  margin: 0;
  background-image: url(https://cloud.githubusercontent.com/assets/10916107/6318145/b2a8640c-babb-11e4-8318-e8b8d93d28cf.png);
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position: left;
  padding-top:200px;
}

div#header img {
  float: left;
  width:100; /* the width of the logo image */
  height:100 ; /* the height of the logo image */
  margin:0 auto;
}

/*site content styling*/
#cases {
	padding: 90px 0 95px;
	padding-bottom:200px;
}

#cases ul {
	overflow: hidden;
}

#cases li {
	display: block;
}

.span3 {
	float: left;
	width: 33.333333%;
}

#cases a {
	display: block;
	position: relative;
}

#cases a img {
	display: block;
	height: auto;
	width: 100%;
	position: relative;
}

#cases a div {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}

#cases a strong {
	color: #928452;
	display: block;
	margin-top: 82%;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.05em;
	font-weight: 500;
	letter-spacing: .2em;
	line-height: 150%;
}

#cases a span {
	color: #666666;
	display: block;
	font-style: oblique;
	letter-spacing: .1em;
}

/* FOOTER */
#footer {
	font-family: "BryantPro-Medium", Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: .875em;
	font-weight: 500;
	letter-spacing: .2em;
	text-transform: uppercase;
	overflow: hidden;
	text-align: center;
	padding: 22px 0 17px;
	height:200px;
}

#footer ul {
	overflow: scroll;
}

#footer li {
	display: inline-block;
	padding: 0 2%;
}

#footer a {
	color: #666666;
}

#footer a:hover {
	color: #928452;
	opacity: .7; 
}


