/*navigation bar styling*/
#navbar { 
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #A9E2F3; 
  border-bottom:1px solid;
  border-top: 1px solid;
}
#navbar li { 
  float: left;
}
#navbar li a{ 
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: #19070B;
  border-right:1px solid;
}
#navbar li a:hover {
  color: #FF0000;
  background-color: #F8E0E0;
}

/*site header styling*/
#header {
  font: serif;
  font-size: 20px;
  color: black;
  width: 100%;
  height: 250px ;
  background-color: #BDBDBD;
  text-align: center;
  padding: 5px;
  margin: 0;
  background-image: url(https://cloud.githubusercontent.com/assets/10916107/6318145/b2a8640c-babb-11e4-8318-e8b8d93d28cf.png);
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position: left;
  padding-top:200px;
}

div#header img {
  float: left;
  width:100; /* the width of the logo image */
  height:100 ; /* the height of the logo image */
  margin:0 auto;
}

/*site content styling*/
  #content {
    font: serif;
    font-size: 14;
    width: 100%;
    height: auto;
    color: black;
    background-color: #A9E2F3;
    margin: 0px;
    padding: 0px;
  }
  div#content img {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #b0e0e6;
  }
  
  #image-right {
    float: right;
    width: 40%;
    height: 40%;
  }
  #image-center {
    display: block;
    width: 40%;
    height: 40%;
    margin: auto;
  }
  #image-left {
    float:left;
    width: 40%;
    height: 40%;
  }

/*footer styling*/
  #footer {
    font: serif;
    font-size: 12;
    float:left;
    width: 100%;
    background-color: #BDBDBD;
    border-style: solid black;
  }


