/*navigation bar styling*/
#navbar { 
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #A9E2F3; 
  border-bottom:1px solid;
  border-top: 1px solid;
}
#navbar li { 
  float: left;
}
#navbar li a{ 
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: #19070B;
  border-right:1px solid;
}
#navbar li a:hover {
  color: #FF0000;
  background-color: #F8E0E0;
}

/*site header styling*/
#header {
  font: serif;
  font-size: 20px;
  color: black;
  width:100%;
  height: 50px ;
  background-color: none;
  text-align: center;
  padding: 5px;
  
}
#container {
/*site content styling*/
#content {
  font: serif;
  font-size: 14;
  float: left;
  width: 100%;
  color: black;
  background-color: #A9E2F3;
  margin: 5px;
}

/*footer styling*/
#footer {
  font: serif;
  font-size: 12;
  float:left;
  width:; 100%;
  background color: #BDBDBD;
  border-top: #c00 solid 1px;
}

}
