/*navigation bar styling*/
#navbar { 
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #A9E2F3; 
  border-bottom:1px solid;
  border-top: 1px solid;
}
#navbar li { 
  float: left;
}
#navbar li a{ 
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: #19070B;
  border-right:1px solid;
}
#navbar li a:hover {
  color: #FF0000;
  background-color: #F8E0E0;
}

/*site header styling*/
#header {
  font: serif;
  font-size: 20px;
  color: black;
  width: 100%;
  height: 250px ;
  background-color: #BDBDBD;
  text-align: center;
  padding: 5px;
  margin: 0;
  
}

/*site content styling*/
  #content {
    font: serif;
    font-size: 14;
    float: left;
    width: 100%;
    height: 500px;
    color: black;
    background-color: #A9E2F3;
    margin: 0px;
    padding: 0px;
  }

/*footer styling*/
  #footer {
    font: serif;
    font-size: 12;
    float:left;
    width: 100%;
    background-color: #BDBDBD;
    border-style: solid black;
  }


