#navigation {
position: fixed;
top: 0;
width: 100%;
height: 35px;
text-align: center;
padding-top: 15px;
}

#navigation a {
background-color: black;
font-size: 14px;
padding-left: 15px;
padding-right: 15px;
color: white;
text-decoration: none;
}

#navigation a:hover {
color: #A9D0F5;
} 

#container {
min-height: 100%;
position: relative;
background-color: #E0F2F7;
font-family:georgia
width:960px;
margin:60px auto;
border:5x black;
}

#content {
background-color: #E0F2F7;
font-family:georgia
float:left;
width 960px;
}

#footer {
position: absolute;
bottom: 0;
border: 2x black;
}


