#navigation {
position: fixed;
top: 0;
width: 100%;
color: #ffffff;
height: 35px;
text-align: center;
padding-top: 15px;
}

#navigation a {
font-size: 14px;
padding-left: 15px;
padding-right: 15px;
color: white;
text-decoration: none;
}

#navigation a:hover {
color: #A9D0F5;
} 

#container {
width:960px;
margin:20px auto;
border:5x black;
}

#content {
    float:left;
    width 960px;
}

#footer {
border: 2x black;
}


#body {
background-color: #E0F2F7;
font-family:georgia;


}

